body {
	background-image: linear-gradient(to bottom right, #fff5cc, #99d7f6);
	color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  .container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .person {
	margin: 50px 0;
  }
  .person img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

  .person h2 {
	margin-top: 20px;
  }
  .person p {
	font-size: 18px;
	line-height: 1.5;
  }

  #code{
	position: absolute ;
	top: 10px;
	left: 350px;
	 width:200px;
	  height:200px;
  }

  #kid
  {
	position:absolute;
	 top: 10px;
	  right: 350px; 
	  width:200px;
	   height:200px;
  }

  #myBtn {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
  }
  
  #myBtn:hover {
	background-color: #555;
  }
  
  