html, body {
	height:100;
	min-height: 100%;
	overflow: hidden;
}
body {
	background-image: linear-gradient(#fff5cc, #99d7f6);
	font-family:'Courier New', Courier, monospace;
	color:#333;
	background-repeat: no-repeat;
	margin:0;
	padding:0;
  }
  
  .buttonbox {
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 100vh;*/
  }

  h1 {
	font-size: 50px;
	text-align: center;
	font-family:'Courier New', Courier, monospace;
	color: black;
	font-weight: bold;

  }

  header {
	background-color: whitesmoke;
	padding: 10px;
	text-align: center;
	border-bottom: solid #333;
  }
  
  button {
	border: none;
	outline: none;
	font-family:'Courier New', Courier, monospace;
	height: 100px; 
	width: 250px; 
	margin: 10px;
	background: linear100-gradient(#ccf5ff);
	color: #6c2c9e; 
	font-size: 25px; 
	border-radius: 25px; 
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
	cursor: pointer; 
  }
  
  button:hover {
	background: linear-gradient(#f3d687, #7ac9eb);
  }
  
  
  .top {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .left {
	position: absolute;
	top: 50%;
	left: 350px;
	transform: translateY(-50%);
  }
  
  .right {
	position: absolute;
	top: 50%;
	right: 350px;
	transform: translateY(-50%);
  }
  
  .bottom {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
  }
 
  .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: whitesmoke;
	color: #666;
	padding: 10px;
	border-top: solid  #333;
  }




  
  