html, body {
	height:100;
	min-height: 100%;
	overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#fff5cc, #99d7f6);
    font-family:'Courier New', Courier, monospace;
  }
  
  .loginbox {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
  }
  
  .loginbox h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid  black;
    margin-bottom: 50px;
    padding: 13px 0;
  }
  
  .loginbox p {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  .loginbox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginbox input[type="text"],
  .loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
  }
  
  .loginbtn {
    border: none;
    outline: none;
    height: 50px;
    background: black;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    width: 280px;
    font-family:'Courier New', Courier, monospace;
  }
  

  
 

  .loginbtn:hover {
    background: linear-gradient(#71d4ff,#ffda7d);
    color:black;
    cursor: pointer;
  }
  